<div class="p-6">
    <h2 class="text-2xl font-bold mb-4">Liste des films</h2>
    <table class="min-w-full border">
      <thead class="bg-gray-200">
        <tr>
          <th class="px-4 py-2 text-left">Titre</th>
          <th class="px-4 py-2 text-left">Réalisateur</th>
          <th class="px-4 py-2 text-left">Date de sortie</th>
          <th class="px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let film of films" class="border-t">
          <td class="px-4 py-2">{{ film.title }}</td>
          <td class="px-4 py-2">{{ film.director.firstName }} {{ film.director.lastName }}</td>
          <td class="px-4 py-2">{{ film.releaseDate }}</td>
          <td class="px-4 py-2">
            <button (click)="edit(film.id)" class="bg-blue-500 text-white px-4 py-1 rounded hover:bg-blue-600">
              Modifier
            </button>
            <button (click)="openConfirmModal(film)" class="text-red-500 hover:underline">
                Supprimer
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<app-confirm-dialog *ngIf="selectedFilm"
    [message]="'Voulez-vous vraiment supprimer le film :'+selectedFilm.title+' ?'"
    (confirm)="deleteFilm()" (cancel)="selectedFilm = null" />
  